@{
	Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Gym</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/img/application/favicon.png">
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="title-1">
                <h2>Вход в аккаунт</h2>
            </div>

            <form method="post">
                <div class="form-group">
                    <label for="phone">Логин:</label>
                    <input name="phone" id="phone" type="text" placeholder="Введите логин..." required />
                </div>
                <div class="form-group">
                    <label for="password">Пароль:</label>
                    <input name="password" id="password" type="password" placeholder="Введите пароль..." required />
                </div>

                <div class="flex-controls">
                    <input class="button" type="submit" value="Войти">
                </div>
            </form>
        </div>
    </section>
</body>

</html>