@{
	Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактор</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/img/application/favicon.png">
</head>

<body>
    <header class="second-header">
        <div class="container">
            <!-- Header nav -->
            <div class="header-nav">
                <div class="logo">
                    <a class="logo-link" href="~/Home/Index">
                        <img src="/img/application/favicon.png" alt="Family Gym">
                        <span>FAMILY GYM</span>
                    </a>
                </div>

                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Schedule?id=null">Расписание занятий</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/AboutClub">О клубе</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Services?AgeCategory=16">Фитнес</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Services?AgeCategory=0">Фитнес для детей</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/ClubCards">Клубные карты</a>
                        </li>
                    </ul>
                </nav>

                <div class="login">
                    <a class="login-link nav-link" href="~/Account/PersonalAccount">
                        <img src="/img/application/account.png">
                        <span>Аккаунт</span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="section">
        <div class="container">
            <div class="title-1">
                <h2>Редактор списка регистрации на занятие</h2>
            </div>

            <div class="subsection">
                <div class="title-2">
                    <h3>Просмотр/удаление записей в списке</h3>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Отчество</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(ViewBag.Registration != null)
                        {
                            foreach(var workoutRegistrationUser in ViewBag.Registration.WorkoutRegistrationUsers)
                            {
                                <tr>
                                    <td>@(workoutRegistrationUser.User.Id)</td>
                                    <td>@(workoutRegistrationUser.User.Lastname)</td>
                                    <td>@(workoutRegistrationUser.User.Name)</td>
                                    <td>@(workoutRegistrationUser.User.Patronymic)</td>
                                    <td>
                                        <a href="~/Admin/WorkoutRegistrationEditor_Delete?userId=@(workoutRegistrationUser.User.Id)&workoutRegistrationId=@(ViewBag.Registration.Id)" class="button table-button delete-button">Удалить</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>